@import "barra.css";
@import "fonts.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	height:100%;
	background: #FFFFFF;
}

.fotoPerfil{
	width: 50px;
	height: 50px;
	padding: 10px;
}

.texto_simple{
	color: white;
	font-family: opcionUno;
	padding: 5px 5px;
	font-size: 20px;
}



#contenido{
	display: flex;
	flex-direction: row;
	height: 100%;
}

#personas{
	display: flex;
	flex-direction: column;
	width: 20%;
	padding: 30px;
	background: #e2e4e6;

}

#conversacion{
	background: #FFFFFF;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height: 100%;
	width: 100%;
}

#chat{
	padding: 25px;
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	height: 100%;
}

.persona{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items:center;
	height: 75px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #FFFFFF;
	color:black;
	font-family: opcionUno;
	margin: 5px;
}

.persona:hover{
	display: flex;
	flex-direction: row;
	height: 75px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #0080FF;
	color:white;
	margin: 5px;
}

#cabezeraMensaje{
	display: flex;
	flex-direction: row;
	align-items:center;
	border-radius: 10px 10px 0px 0px;
	background: #0084D1;
	height: 10%;
	width: 60%;
}


#envio{
	width: 60%;
	height: 10%;
	margin-top: 10px;
	display: flex;
	justify-content:center;
}

#txtMensaje{
	margin-right: 5px;
	padding: 30px;
	border-radius: 10px 10px 10px 10px;
	background: #e2e4e6;
	border-color: #FFFFFF;
	width: 75%;
}

#btnEnviar{
	background: #0084D1;
	color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	width: 25%;
	font-family: opcionUno;
}

#btnEnviar:hover{
	background: #FFFFFF;
	color: #0084D1;
	font-family: opcionUno;
}


#areaMensajes{
	background: #e2e4e6;
	overflow: scroll;
	width: 60%;
	height: 60%;
	border-radius: 0px 0px 10px 10px;
}

#areaMensajes p{
	margin-top: 15px;
	margin-left:20px;
}

footer{
	text-align:center;
}


#cabezera{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-bottom: 3px solid #c6c7cc;
	padding-bottom:5px; 
	padding-top: 5px;
}