@import 'fonts.css';

.navbar.navbar-default{

background: -webkit-linear-gradient(top,#0080FF, #0080BB);
 width:134%;
 margin-left:-1%;
 
}

html,body{
	background-color:#e2e4e6;

}

#tituloDesarrollador{
    font-family: opcionCuatro;
	font-style: normal;
	margin-left:29%;
	padding-top:0px;
	font-size:289%;
	
	color:white;
	list-style:none;
	
}

.opciones img:hover{
	 background: blue;
	 
}

a{
	
	color:white;
}
a:hover{
	color:white;
	font-style:none
}



#home{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 63%;
}

#logiar{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 80%;
}



#logosection img{
	margin-left: 1%;
	margin-top:5%;
	
}


p{
	margin-left: 87px;
}

h2{
	
	position: relative;bottom: 49px;left: 370px;
}

.fig1 img{
	width: 98px;
	height: 98px;
	margin-top: 335px;
	margin-left:12px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.fig2 img{
	width: 98px;
	height: 98px;
	position: relative;
	margin-top: 540px;
	margin-left:58%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.fig3 img{
	width: 98px;
	height: 98px;
	 margin-top: 335px;
	margin-left:59%;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.fig4 img{
	width: 98px;
	height: 98px;
	margin-top: 335px;
	margin-left:226%;
	
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.fig5 img{
	width: 98px;
	height: 98px;
	 margin-top: 14px;
	margin-left:239%;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
#dev1{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 120px;
	
}
#dev2{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left:199px;
	
}
#dev3{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 147%;
	
}
#dev4{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 421px;
	
}
#dev5{
	width: 54px;
	height: 54px;
	position: relative;bottom:115px;left: 459px;
	
}
.row{
	margin-top:-22%;
}
.flex-container{
	display:flex;
	flex-flow: row wrap;
	
}

