@import 'fonts.css';

.navbar.navbar-default{

background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);


}

html,body{
	background-color:#e2e4e6;

}

#tituloDesarrollador{
    font-family: opcionCuatro;
	font-style: normal;
	margin-left:195px;
	height: 100%;
	padding-top:55px;
	color:white;
	
}

.opciones img:hover{
	 background: blue;
	 
}

a{
	background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
}

.nav.nav-pills{

	 background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
}

#home{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 63%;
}

#logiar{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 80%;
}

footer{
	 background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
	 font-weight:bold;
	color: white;
	position: absolute;top: 560px;
	width: 100%;
	position:absolute;top:785px;
	
}

#logosection img{
	position: absolute;left: 43%;bottom: 263px;
	
}


#logosection p{
	position: absolute;left: 45%;top: 50%;
}
p{
	margin-left: 87px;
}

h1{
	
	position: absolute;bottom: 77%;left: 329px;
}

.col-md-3.col-sm-3.fig1 img{
	width: 98px;
	height: 98px;
	margin-top: 335px;
	margin-left:12px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig2 img{
	width: 98px;
	height: 98px;
	position: relative;
	margin-top: 530px;
	margin-left:-68px;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig3 img{
	width: 98px;
	height: 98px;
	 margin-top: 335px;
	margin-left:-125px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig4 img{
	width: 98px;
	height: 98px;
	margin-top: 335px;
	margin-left:-35px;
	
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig5 img{
	width: 98px;
	height: 98px;
	 margin-top: 14px;
	margin-left:54px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
#dev1{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 120px;
	
}
#dev2{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left:44px;
	
}
#dev3{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: -23px;
	
}
#dev4{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 59px;
	
}
#dev5{
	width: 54px;
	height: 54px;
	position: relative;bottom:115px;left: 155px;
	
}

