*{
	margin: 0px;
	padding: 0px;
}

span,form{
	margin: 0px;
	padding: 0px;
}

#googleMap, #googleMap2{
	
	padding: 5px 17px;
}

.Titulo_Ruta, .Titulo_Aventon{
	display: flex;
	justify-content:center;
	align-items:center;
	background: #e2e4e6;
	color: black;
	width: 100%;
	font-size: 20px; 
	font-family: opcionDos;
	text-align: center;
}

#Pantalla_Ruta, #Pantalla_Aventon{
	display: flex;
	flex-direction:column;
    position: absolute;
    align-items: center;
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    opacity:0;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in;
    text-align: justify;
    top: 55%;
    left: 50%;
    visibility: hidden;
    height: 70%;
    width: 60%;
	bottom: 0;
	border: 3px solid #c3c3c3;
}


#Contenido_Ruta, #Contenido_Aventon{
    position: absolute;
}

.popUp{
    display: flex;
    justify-content:center;
    flex-direction:column;
    background: #0080FB;
    z-index: 9999;
    position: relative;
    border-radius:5px;
    height: 100%;
    width: 100%;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-weight: bold;
	z-index: 9999;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.tabla{
    display: flex;
    flex-direction:row;
    margin-top: 5px ;
    margin-bottom: 10px;
}

.tabla_item{
    font-size:20px;
}

.flex_center{
	align-items:center;
	justify-content:center;
}

.flex_between_around{
	justify-content:space-around;
	align-content:center;
}

.columna_flexible{
	display: flex;
	align-items:stretch;
	flex-direction:column;
}

.etiqueta{
	font-family: opcionDos;
	height: 25px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
}

.entradaDatos{
	font-family: opcionUno;
	height: 25px;
	width: 140px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
}

.flex_end{
	align-items:flex-end;	
}

.margin_right{
	margin-right: 50px;
}

.formulario{
	display:flex; 
	flex-direction:column;
}

.formulario-publicar{
	padding: 10px 20px;
}