@import 'fonts.css';

*{
	margin: 0px;
	padding: 0px;
}

html,body,p{
	background-color: #cdebeb;
	height: 100%;
}

h1{
	text-shadow:rgba(0,0,0,0.5) 3px 3px 5px;
	color: white; 
}

h2{
	color:black;
}

a{
	color: white;
	font-family: opcionUno;
}

/*Estilos cabezera*/

.rectangulo{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	padding-bottom: 5px;
	padding-top: 0px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}


#cabezera{
	border-bottom: 3px solid #c6c7cc;
	font-size: 26px;
}

#footer{
	border-top: 3px solid #c6c7cc;
	font-family: opcionUno;
	font-size: 15px;
}


/*seccion inicio de sesion, registro*/
#contenedor_inicio{
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
    flex-flow: row wrap;
    justify-content:flex-start;
    height: 100%;
    width: auto;
}

/*Seccion Inicial*/
#inicio{
	width: 40%;
	justify-content:center;
	align-items: center;
}

#inicio_sesion{
	width: 40%;
	justify-content:center;
	align-items: center;
}

#wrapper_descripcion{
	padding: 10px 10px;
	margin: 0px 0px;
}

#wrapper_descripcion section article{
	font-size: 24px;
	font-family: opcionUno;
	padding: 0px 20px;
}

.flex_row_center{
	display: flex;
	align-items:center;
	justify-content:center;
	flex-flow: row wrap;
}

.single_text{
	font-family: opcionUno;
	font-size: 16px;
}


/*****************************/

/*Registro*/
#inicio_registro{
	width: 40%;
}

#opciones_sexo{
	padding: 10px;
}

.logo{
	margin: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}

.maximas_dimensiones{
	width: 100%;
	height: 100%;
}

.formulario{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}


.boton{
	flex-wrap: wrap;
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 2px 2px 4px;
	display: flex;
	justify-content:center;
	margin: 10px 10px;
	padding: 15px 5px;
	width: auto;
    -webkit-flex-flow: row wrap;
    border : 1px solid #000000;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionCuatro;
    font-size: 22px;
    font-weight: normal;
}


.boton:hover{
	background: -webkit-linear-gradient(top,rgb(10,73,167),rgb(0,50,200));
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 3px 3px ;
	display: flex;
	justify-content:center;
	margin: 10px 10px;
	padding: 15px 5px;
	width: auto;
    -webkit-flex-flow: row wrap;
    border : 1px solid #000000;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionCuatro;
    font-size: 22px;
    font-weight: normal;
}

.titulo{
	font-family: opcionCuatro;
	font-style: normal;
	text-align: center;
	height: 100%;
	padding-top:10px;
}

.invisible{
	display: none;
}

.columna_flexible{
	align-self: center;   
	align-items:center;      
	display: flex;
	flex-direction:column;
}

.entrada_texto{
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px;
	font-family: opcionUno;
	font-size: 20px;
	height: 30px;
	margin: 5px 10px;
	text-align: center;
	width: 30%;
}

.entrada_texto:hover{
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px;
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
	font-family: opcionUno;
	font-size: 20px;
	height: 30px;
	margin: 5px 10px;
	text-align: center;
	width: 30%;
}

.etiqueta{
	font-family: opcionDos;
	margin:0px;
	padding-top: 10px;
}

.enlace{
	font-family: opcionDos;
	color: #f30202;
	cursor: pointer;
}

/*Seccion de animacion de imagenes de Guayaquil y Espol*/

#inicio_animacion{
	width: 60%;	
	height: 100%;
    margin: 0px;
    position: relative;
}

#inicio_animacion img{
	margin: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
}

@keyframes imagenAnimacion{
	0%{
		opacity: 0;
	}

	5%{
		opacity: 1;
	}

	25%{
		opacity: 1;
	}

	45%{
		opacity: 1;
	}

	55%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

#inicio_animacion img{
	background-repeat: none;
	opacity: 0;
	animation-name:imagenAnimacion;
	animation-delay:0s;
	animation-duration:30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction:normal;
	animation-fill-mode:forwards;
}

#inicio_animacion img:last-child{
	opacity: 1;
}

#inicio_animacion img:nth-child(1){
	animation-delay:18s;
}

#inicio_animacion img:nth-child(2){
	animation-delay:12s;
}

#inicio_animacion img:nth-child(3){
	animation-delay:6s;
}

#inicio_animacion img:nth-child(4){
	animation-delay:0s;
}

