@import 'fonts.css';

*{
	margin: 0px;
	padding: 0px;
}

html,body,p{
	background-color: #e2e4e6;
	height: 100%;
}

h1{
	text-shadow:rgba(0,0,0,0.5) 3px 3px 5px;
	color: white; 
}

h2{
	color:black;
}

a{
	color: white;
	font-family: opcionUno;
}

/*Estilos cabezera*/

.Cabezera{
	border-bottom: 3px solid #c6c7cc;
	font-size: 26px;
	background: #0080FB;
	padding-bottom: 5px;
	padding-top: 0px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}

.Footer{
	border-top: 3px solid #c6c7cc;
	font-family: opcionUno;
	font-size: 15px;
	background: #0080FB;
	padding-bottom: 5px;
	padding-top: 0px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}

.Cabezera-titulo{
	font-family: opcionCuatro;
	font-style: normal;
	text-align: center;
	height: 100%;
	padding-top:10px;
}

/*seccion inicio de sesion, registro*/
.Contenedor{
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
    flex-flow: row wrap;
    justify-content:flex-start;
    height: 100%;
    width: auto;
}

/*Seccion Inicial*/

.Inicio{
	width: 40%;
	justify-content:center;
	align-items: center;
}

.Inicio-descripcion{
	align-items:center;
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	margin: 0px 0px;
	padding: 10px 10px;
}

.Inicio-descripcion section article{
	font-size: 24px;
	font-family: opcionUno;
	padding: 0px 20px;
}

.Inicio-botones{
	align-items:center;
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
}

/*Inicio Sesion*/
.InicioSesion{
	width: 40%;
	justify-content:center;
	align-items: center;
}

.InicioSesion-formulario,.InicioRegistro-formulario{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}
.InicioSesion-formulario div div form{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}

/*****************************/

/*Registro*/
.InicioRegistro{
	width: 40%;
	justify-content:flex-start;
	margin-top: 20px;
}

#opciones_sexo{
	padding: 6px;
}

#opciones_carro{
	padding: 6px;
}

.u-logo{
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

/*Seccion de animacion de imagenes de Guayaquil y Espol*/

.InicioAnimacion{
	width: 60%;	
	height: 100%;
    margin: 0px;
    position: relative;
}

.InicioAnimacion img{
	margin: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
}

@keyframes imagenAnimacion{
	0%{
		opacity: 0;
	}

	5%{
		opacity: 1;
	}

	25%{
		opacity: 1;
	}

	45%{
		opacity: 1;
	}

	55%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

.InicioAnimacion img{
	background-repeat: none;
	opacity: 0;
	animation-name:imagenAnimacion;
	animation-delay:0s;
	animation-duration:30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction:normal;
	animation-fill-mode:forwards;
}

.InicioAnimacion img:last-child{
	opacity: 1;
}

.InicioAnimacion img:nth-child(1){
	animation-delay:18s;
}
.InicioAnimacion img:nth-child(2){
	animation-delay:12s;
}

.InicioAnimacion img:nth-child(3){
	animation-delay:6s;
}

.InicioAnimacion img:nth-child(4){
	animation-delay:0s;
}


/*Utilidades*/
.tabla{
    display: flex;
    flex-direction:row;
    height: 100%;
}

.tabla_item{
 	width: 100%;
    font-size:20px;
}

.single_text{
	font-family: opcionUno;
	font-size: 16px;
}

.boton{
	flex-wrap: wrap;
	background: #0080FB;
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 2px 2px 4px;
	display: flex;
	justify-content:center;
	margin: 5px 10px;
	padding: 15px 5px;
	width: auto;
    -webkit-flex-flow: row wrap;
    border : 1px solid #000000;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionCuatro;
    font-size: 22px;
    font-weight: normal;
    transition: all 0.5s ease;
}


.boton:hover{
	background: #23b7e5;
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 3px 3px ;
}

.invisible{
	display: none;
}

.visible{
	display: flex;
}

.columna_flexible{
	align-items:center;      
	display: flex;
	flex-direction:column;
}

.columna_flexible_start{
	display: flex;
	flex-direction:column;
}

.flex_start{
	align-items:flex-start;
}

.flex_end{
	align-items:flex-end;	
}


.etiqueta{
	font-family: opcionDos;
	padding: 0px;
	margin: 6px 5px 5px 5px;
	height: auto;
}

.entrada_texto{
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px;
	font-family: opcionUno;
	font-size: 20px;
	height: auto;
	margin: 5px 5px;
	text-align: center;
	width: 70%;
	transition: box-shadow 0.5s ease;
}

.entrada_texto:hover{
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
}

.enlace{
	font-family: opcionDos;
	color: #f30202;
	cursor: pointer;
}

/*Responsive*/

@media screen and (max-width:400px){

	.InicioAnimacion{
		display: none;
	}

	.Inicio{
		width: auto;
	}

	.InicioRegistro{
		width: auto;
	}

	.InicioSesion{
		width: auto;
	}
}
