html,body{
	height: 100%;
	margin: 0px;
}

html,body{
	background-color: #cdebeb;
	margin: 0px;
	padding: 0px;
}
header,h1,h2,form{
	margin: 0px;
	padding: 0px;
}

span{
	font-family: opcionDos;
	font-size: 10px;
}

h1{
	text-shadow:rgba(0,0,0,0.5) 3px 3px 5px;
	color: white; 
}

h2{
	color:black;
}

a{
	color: white;
}

footer{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-top: 3px solid #c6c7cc;
	color: white;
	font-family: opcionUno;
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}


#cabezera{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-bottom: 3px solid #c6c7cc;
	font-size: 32px;
	padding-bottom:5px; 
	padding-top: 5px;
}

#contenedor_inicio{/*seccion de login, registro y animacion con imagenes*/
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content:flex-start;
    height: 100%;
    width: auto;
}

#inicio{
	width: 40%;
	margin: 0px;
}
#inicio_sesion{
	width: 40%;
	justify-content:center;
	align-items: center;
}

#inicio_registro{
	width: 40%;
	justify-content:center;
	align-items: center;
}

#logo{
	margin: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}

#formulario_inicio_sesion{
	width: 100%;
	height: 100%;
}

#formulario_registro_usuario{
	width: 100%;
	height: 100%;
}

.formulario{
	display: flex;
	flex-direction:column;
	align-items: center;
}

#wrapper_descripcion{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding: 10px 10px;
	margin: 5px 0px;
	justify-content:center;
}

#wrapper_descripcion section article{
	font-size: 24px;
	font-family: opcionUno;
}

#wrapper_botones{
	display: flex;
	padding: 5px 5px;
	justify-content:center;
	-webkit-flex-flow: row wrap;
	align-items:center;
}

.boton{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 2px 2px 4px;
	display: flex;
	justify-content:center;
	margin: 10px 10px;
	padding: 15px 5px;
	width: 45%;
    -webkit-flex-flow: row wrap;
    border : 1px solid #000000;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionCuatro;
    font-size: 22px;
    font-weight: normal;
}

.boton:hover{
	background: -webkit-linear-gradient(top,rgb(10,73,167),rgb(0,50,200));
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 3px 3px ;
	display: flex;
	justify-content:center;
	margin: 10px 10px;
	padding: 15px 5px;
	width: 45%;
    -webkit-flex-flow: row wrap;
    border : 1px solid #000000;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionCuatro;
    font-size: 22px;
    font-weight: normal;
}

.titulo{
	font-family: opcionCuatro;
	font-style: normal;
	text-align: center;
	height: 100%;
	padding-top:10px;
}

.invisible{
	display: none;
}

.columna_flexible{
	align-self: stretch;         
	display: flex;
	flex-direction:column;
	/*justify-content:center;*/
}

.entrada_texto{
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px;
	font-family: opcionDos;
	font-size: 14px;
	height: 30px;
	margin: 5px 10px;
	text-align: center;
	width: 30%;
}

.entrada_texto:hover{
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px;
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
	font-family: opcionDos;
	font-size: 14px;
	height: 30px;
	margin: 5px 10px;
	text-align: center;
	width: 30%;
}

.etiqueta{
	font-family: opcionDos;
	margin:0px;
	padding-top: 10px;
}

.enlace{
	font-family: opcionDos;
	color: #ff0000;
	cursor: pointer;
}

.logo{
	cursor: pointer;
}


/*Seccion de animacion de imagenes de guayaquil*/

#inicio_animacion{
	width: 60%;	
	height: 100%;
    margin: 0px;
    position: relative;
}


#inicio_animacion img{
	margin: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
}

@keyframes imagenAnimacion{
	0%{
		opacity: 0;
	}

	5%{
		opacity: 1;
	}

	25%{
		opacity: 1;
	}

	45%{
		opacity: 1;
	}

	55%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

#inicio_animacion img{
	background-repeat: none;
	opacity: 0;
	animation-name:imagenAnimacion;
	animation-delay:0s;
	animation-duration:30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction:normal;
	animation-fill-mode:forwards;
}

#inicio_animacion img:last-child{
	opacity: 1;
}

#inicio_animacion img:nth-child(1){
	animation-delay:18s;
}

#inicio_animacion img:nth-child(2){
	animation-delay:12s;
}

#inicio_animacion img:nth-child(3){
	animation-delay:6s;
}

#inicio_animacion img:nth-child(4){
	animation-delay:0s;
}


@font-face{
	font-family: 'opcionUno';
	src:url('fonts/Champagne & Limousines.ttf');
}

@font-face{
	font-family: 'opcionDos';
	src:url('fonts/eacologica.ttf');
}

@font-face{
	font-family: 'opcionTres';
	src:url('fonts/ASENINE_.ttf');
}

@font-face{
	font-family: 'opcionCuatro';
	src:url('fonts/Plump.ttf');
}

@font-face{
	font-family: 'opcionCinco';
	src:url('fonts/Thunder Lord.ttf');
}

