/*Home Page*/
@import "fonts.css";
@import "barra.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	background-color: #e2e4e6;
}


#contenedor_rutas{
	margin-top: 70px; 
	width: 100%;
}

.visualizador{
	display: flex;
	flex-direction:column;
	align-items:center;
	margin: 15px 0px;
	height: 100%;
	width: 100%;
}

.mapa_ruta{
	height: 250px;
	width: 50%;
	background-color:white;
}

.nickname{
	padding: 0px 5px 0px 5px;
	border-radius: 30px;
}

.info_noticias{
	color:white;
	font-family: opcionUno;
	font-size: 20px;
	height: 100%;
	padding: 5px 5px;
}

.menu_noticias{
	width: 50%;
	display: flex;
	align-items:center;
	height: 50px;
	/*background: -webkit-linear-gradient(top,#1c9596, #1c9fff);*/
	background: #0080FB;
}

.menu_superior{
	border-radius: 10px 10px 0px 0px;
}

.menu_inferior{
	border-radius: 0px 0px 10px 10px;
}

.lateral{
	display: flex;
	width: 100%; 
	padding-left:10px;
	padding-right:10px; 
}

.info-horario{
	color: white;
	font-size: 16px;
	display: flex;
	width: 100%; 
	displat:flex;
	justify-content:center;
}

.flex_end{
	justify-content:flex-end;
}

.flex_start{
	justify-content:flex-start;
}

.cursor_pointer{
	cursor: pointer;
}

@media screen and (max-width: 800px){
	
	#contenedor_rutas{
		margin-top: 10px; 
	}

	.mapa_ruta{
		height: 250px;
		width: 90%;
		background-color:white;
	}

	.info_noticias{
		font-size: 18px;
		height: 100%;
		padding: 5px 5px;
		font-size: 12px;
	}

	.menu_noticias{
		width: 90%;
		height: 50px;
	}

	.info-horario{
	color: white;
	font-size: 10px;
	display: flex;
	width: 100%; 
	}

}