/*Home Page*/
@import "fonts.css";
@import "barra.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	background-color: #e2e4e6;
}


#contenedor_rutas{
	margin-top: 70px; 
	width: 100%;
	transition: all 0.5s ease;
}

.VisualizadorRuta{
	display: flex;
	flex-direction:column;
	align-items:center;
	margin: 15px 0px;
	height: 100%;
	width: 100%;
}

.VisualizadorRuta-menu{
	width: 50%;
	display: flex;
	align-items:center;
	height: 50px;
	background: #0080FB;
}

.VisualizadorRuta-opcion{
	display: flex;
	width: 100%; 
	padding-left:10px;
	padding-right:10px; 
}

.VisualizadorRuta-info{
	color:white;
	font-family: opcionUno;
	font-size: 20px;
	height: 100%;
	padding: 5px 5px;
}


.VisualizadorRuta-mapa{
	height: 250px;
	width: 50%;
	background-color:white;
}

.u-menu_superior{
	border-radius: 10px 10px 0px 0px;
}

.u-menu_inferior{
	border-radius: 0px 0px 10px 10px;
}

.u-flex_end{
	justify-content:flex-end;
}

.u-flex_start{
	justify-content:flex-start;
}

.u-cursor_pointer{
	cursor: pointer;
}

.info-horario{
	color: white;
	font-size: 16px;
	width: 100%; 
	font-family: opcionUno;
}

.nickname{
	padding: 0px 5px 0px 5px;
	border-radius: 30px;
	height:30px;
	width:30px;
}

#sign_box{
	margin-top: -40px;
}

@media screen and (max-width: 800px){

	.VisualizadorRuta-mapa{
		height: 250px;
		width: 90%;
		background-color:white;
	}

	.VisualizadorRuta-info{
		font-size: 18px;
		height: 100%;
		padding: 5px 5px;
	}

	.VisualizadorRuta-menu{
		width: 90%;
		height: 50px;
	}

	.info-horario{
		color: white;
		font-size: 10px;
		display: flex;
		width: 100%; 
	}
}