/*Home Page*/
@import "fonts.css";
@import "barra.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	background-color:#e2e4e6;;
}


#contenedor_notif{
	margin-top: 70px; 
	width: 100%;
	transition: all 0.5s ease;
}

.notif{
	display: flex;
	flex-direction:column;
	align-items:center;
	margin: 15px 0px;
	height: 100%;
	width: 100%;
}



.nick{
	padding: 0px 5px 0px 5px;
	border-radius: 30px;
	height:30px;
	width:30px;
}

#notificacion{

	display: flex;
	flex-direction:column;
	width: 50%;
	background: #e2e4e6;
}

#foto{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-top: 20px;
}

button{
	width:100px;
	height: 35px;
	border-radius: 10px;
	border: 2px solid #c3c3c3;
	background: #0080FF;
	color: #FFFFFF;
	font-size: 100%;
	margin-right: 30px;
	font-family: opcionUno;
	transition: background-color 0.5s ease;
	cursor: pointer;
}

button:hover{
	background: #23b7e5;
}

h3{
	flex-grow:1;
	color:#000000;
	font-size: 26px;
	font-family: opcionUno;
	margin: 20px;
}

#cabezera{
	background: white;
	color: #0E1456;
	padding: 10px 10px;
	display:flex;
	justify-content: flex-start;
	flex-direction:column;
	align-items: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-width: 10px;	
	border-bottom-style:solid;
	border-bottom-color: #c3c3c3;
}

label{
	font-family: opcionUno;
	font-size: 26px;
}

.contenedorBotones{
	display: flex;
	flex-direction:row;
}

.superior{
	display: flex;
	flex-direction:row;
}



@media screen and (max-width: 800px){
	notificacion{
		width: 90%;
		height: 150px;
	}



	#foto{
		width: 35px;
		height: 35px;
		border-radius: 17px;
	}

	button{
		width: 65px;
		height: 35px;
		font-size: 10px;
		margin-right: 10px;
	}

	button:hover{
		background: #23b7e5;
	}

	h3{
		font-size: 18px;
	}

	label{
		font-size: 18px;
	}
}
