@import "barra.css";


*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}

.flex_container{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    height: 129%;
}

.datos{
  position:relative;top:11px;
}

.columna_flexible{
  display: flex;
  flex-direction:column;
	margin-bottom:-1px;
}

.flex_center{
    justify-content:center;
    align-items:center;
}

.flex_justify_content_center{
    justify-content:center;
}

.flex_align_items_center{
    align-items:center;   
}


#infoPerfil{
    background-color: #e2e4e6;
    height: 100%;
    width: 30%;
}

#infoUsuario{
    width: 100%;
    height: 60%;
}

#infoVehiculo{
    height: 40%;
    width: auto;
    padding: 10px;
    font-family: opcionUno;
}

#nickName{
    background-color: #e2e4e6;
    font-family: opcionUno;
    height: 210%;
    position: relative;top: 44px;
}

#nickName img{
    width: 108px; 
    height: 100px;
    border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    transition: all 1s ease;
}

#nickName img:hover{
    width:140px;
    height:240px;
    border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#datosPersonales{
    background:#0080FB; 
    font-family: opcionUno;
    color:white;   
    width: auto;
    height: 2000px;
    padding: 5px 10px;
    align-content:center;
    position: relative;top: 17%;


}

.tabla{
    display: flex;
    flex-direction:row;
    margin: 30px 0px 20px 0px;
}

.tabla_item{
    padding-right: 10px;
    font-size:21px;
}

#wrapper_editar{
    width: 10%;
    height: 10%;
}

.lapiz{
    border-radius: 120px;
    width:40px;
    height:40px;
    padding: 5px 5px;
    font-size: 28px;
    cursor:pointer;
}

.blanco{
    color: white;
    background-color:#0080FB;
}

.azul{
    color: #0080FB;
    background-color:white;
}

.candado{
 color:white;
  border-radius: 120px;
  width:40px;
  height:40px;
  position:relative;left:7px;bottom:-2px;
  font-size: 28px;
  display: none;

}


.cancelado{

  color:white;
  border-radius: 120px;
    width:40px;
    height:40px;
	position:relative;left:150px;bottom: 4px;
	font-size: 28px;
  display: none;
  
	 

}

.checkuser{
 background-color:white;
  border-radius: 120px;
  width:40px;
  height:40px;
  position: relative;left: -4px;top: 2px;
  display: none;
  z-index: 2;
  

}

.cancelarcarro{
 background-color:white;
  border-radius: 120px;
    width:40px;
    height:40px;
    position: relative;left: 72px;top: 80px;
    display: none;
   
}

input[type=text]#labelNombre{
	 background:#0080FB; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:15px;
	 width:90%;
	 position:relative;left:75px;bottom:10px;
   color: #FFFFFF;
}

input[type=text]#labelApellido{
	 background:#0080FB; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:15px;
	 width:89%;
  
	 position:relative;left:75px;bottom: 11px;
   color: #FFFFFF;
}
input[type=text]#labelCelular{
	 background:#0080FB; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:16px;
	  width:80%;
	 position:relative;left:74px;bottom:11px;
   color: #FFFFFF;
}
input[type=text]#labelsexo{
	 background:#0080FB; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:16px;
	  width:55%;
	 position:relative;left:74px;top:-5px;
   color: #FFFFFF;
}
::-webkit-input-placeholder { color:white; }

:-moz-placeholder {
    color: blue;
}

input[type=text]#labelplaca{

	 background:#e2e4e6; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:17px;
	  width:95%;
	 position:relative;left:19px;top:84px;
   color: #000000;

}
input[type=text]#labelcapacidad{
 background:#e2e4e6;; 
	 margin:0px;
	 padding:0px;
	 display:flex;
	 border-style:none;
	 font-size:17px;
	  width:95%;
	 position:relative;left:19px;top:89px;
   color: #000000;
}

#botonusuario:hover{
border:1px solid white;

}
#botonusuario{

position:relative;top:18px;left: 78px;

}
#botoncarro{
position: relative;top: 125px;

}
#lblplaca{
position: relative;top: 80px;
}

#lblcapacidad{

position: relative;top: 82px;
}

#infovehiculo{

position: relative;top: 89px;

}


#adv1{

  font-size: 11px;
}

#adv2{

font-size: 10px;

}

#adv3{
font-size: 10px;


}

#adv4{

font-size: 10px;

}
#botu1{
  position: relative;top: 32px;
  background: #0080FB;
  border-style: none;
}

#botc1{
  position: relative;top: 120px;right: 45px;
  background: #e2e4e6;
  border-style: none;
  z-index: 1;
}

.error{
  background: red;
}

.invisible{
  display: none;
}

.visible{
  display: flex;
  z-index: 3;
  color: red;
  font-size: 20px;
}

.row_flexible{
    display: flex;
    flex-direction:column;
  margin-bottom:-1px;
}

.error{
    background-color: #BC1010;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    padding: 6px 12px;
    position: absolute;
}
.error:before{
    border-color: transparent #BC1010 transparent transparent;
    border-style: solid;
    border-width: 6px 8px;
    content: "";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 8px;
    width: 0;
}
