#logoespol img{
	 width: 75px; 
	 height: 75px;
	 border-radius: 150px;
	 margin-left:15px;
	
}

#imagenesicon img{
	 width: 50px; 
	 height: 50px;
	 border-radius: 150px;
	 position: absolute;bottom: 30%;left: 70%;
	 
	 padding: 3px;
	 
  -webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	 
	 
	 
}

#imagenesicon1 img{
	 width: 50px; 
	 height: 50px;
	 border-radius: 150px;
	 position: absolute;bottom: 30%;left:89%;
	
	 
	 padding: 3px;
	 
  -webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	 
	 
	 
}


.opciones img:hover{
	 background: blue;
	 
}

a{
	background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
}

.nav.nav-pills{

	 background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
}

#home{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 63%;
}

#logiar{
	font-weight:bold;
	color: white;
	position: absolute;bottom: 30%;left: 80%;
}

footer{
	 background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%);
	 font-weight:bold;
	color: white;
	position: absolute;top: 560px;
	width: 100%;
	
}

#logosection img{
	position: absolute;left: 80%;top: 343px;
	
}
#logosection{
	width: 730px;
   height: 133px;
line-height: 0px;
color: transparent; font-size: 30px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

#logosection:hover{
	line-height: 133px;
    color: #575858;
    margin-left: 32px;
}

#logosection p{
	position: absolute;left: 45%;top: 50%;
}
p{
	margin-left: 87px;
}

h1{
	
	position: absolute;bottom: 77%;left: 299px;
}

.col-md-3.col-sm-3.fig1 img{
	width: 98px;
	height: 98px;
	margin-top: 70px;
	margin-left:12px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig2 img{
	width: 98px;
	height: 98px;
	position: relative;
	margin-top: 330px;
	margin-left:-278px;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig3 img{
	width: 98px;
	height: 98px;
	 margin-top: 70px;
	margin-left:-125px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig4 img{
	width: 98px;
	height: 98px;
	margin-top: 70px;
	margin-left:-55px;
	
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
.col-md-3.col-sm-3.fig5 img{
	width: 98px;
	height: 98px;
	 margin-top: 44px;
	margin-left:-64px;
	position: relative;top: 189%;
	-webkit-border-radius: 150px;
   -moz-border-radius: 150px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	 display: flex;
	
}
#dev1{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 120px;
	
}
#dev2{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left:-134px;
	
}
#dev3{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: -23px;
	
}
#dev4{
	width: 54px;
	height: 54px;
	position: relative;bottom:120px;left: 59px;
	
}
#dev5{
	width: 54px;
	height: 54px;
	position: relative;bottom:99px;left: 60px;
	
}

