




.flex-container{
		max-width:960px;
		width:90%;
		list-style-type:none;
		margin:20px auto;
		padding:0;
		background-color:white;
		/*Flexbox setup*/
		display: flex;
}

h1 {
	font-weight: 900;
}
h2 {
	font-weight: bold;
}