@import "barra.css";
@import "fonts.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	height:100%;
	background: #FFFFFF;
}

#contenido{
	background: #FFFFFF;
}

.punto1{
	width: 20px;
	height: 20px;
	margin: 20px 20px 20px 20px;
	border-radius: 100% 100% 100% 100%;
	background: #FFFFFF;

}

.punto1:hover{
	width: 20px;
	height: 20px;
	margin: 20px 20px 20px 20px;
	border-radius: 100% 100% 100% 100%;
	background: #0080FF;

}

.punto2{
	width: 20px;
	height: 20px;
	margin: 20px 20px 20px 20px;
	border-radius: 100% 100% 100% 100%;
	background: red;

}

.fotoPerfil{
	width: 50px;
	height: 50px;
	padding: 0px 5px 0px 5px;
	border-radius: 50px 50px 50px 50px;
	cursor: pointer;
}

.texto_simple{
	color: white;
	font-family: opcionUno;
	padding: 5px 5px;
	font-size: 20px;
}
.texto_oculto{
	visibility: hidden;
}

#contenido{
	display: flex;
	flex-direction: row;
	height: 100%;
	transition: all 0.5s ease;
}

#personas{
	width: 20%;
	padding: 30px;
	background: #e2e4e6;
	margin-top: 30px;
	position: fixed;
	height: 100%;

}

#conversacion{
	background: #FFFFFF;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height: 100%;
	width: 100%;
	margin-left: 20%;
	overflow-y: auto;
}

#chat{
	padding: 25px;
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	height: 100%;
}

.persona{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items:center;
	height: 75px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #FFFFFF;
	color:black;
	font-family: opcionUno;
	margin: 5px;
	cursor: pointer;
}

.persona:hover{
	display: flex;
	flex-direction: row;
	height: 75px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background: #0080FF;
	color:white;
	margin: 5px;
}

#cabezeraMensaje{
	display: flex;
	flex-direction: row;
	align-items:center;
	border-radius: 10px 10px 0px 0px;
	background: #0084D1;
	height: 10%;
	width: 60%;
	margin-top: 50px;
}


#envio{
	width: 60%;
	height: 10%;
	margin-top: 10px;
	display: flex;
	justify-content:center;
	background: #e2e4e6;
}

#txtMensaje{
	border-color: #FFFFFF;
	width: 75%;
	height: 30px;
	background-color: white;
	border : 1px solid #000000;
	border-radius: 3px 3px 3px 3px;
	font-family: opcionUno;
	font-size: 20px;
	margin: 5px 5px;
	text-align: left;
	transition: box-shadow 0.5s ease;
	margin-top: 10px;
}


#btnEnviar {
 	flex-wrap: wrap;
	background: #0080FB;
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 2px 2px 4px;
	display: flex;
	justify-content:center;
	margin: 5px 10px;
    color:white;
    cursor: pointer;
    flex-flow: row wrap;
    font-family: opcionUno;
    font-size: 20px;
    transition: all 0.5s ease;
  	width: 25%;
  	height: 30px;
  	margin-top: 10px;
}

#btnEnviar:hover {
	background: #23b7e5;
	border-radius: 10px;
	box-shadow: rgba(8,43,255,0.75) 3px 3px ;

}


#areaMensajes{
	background: #e2e4e6;
	width: 60%;
	height: 60%;
	/*
	display: flex;
	flex-direction: column;
	*/
	overflow-y: auto;
}



footer{
	text-align:center;
}


#cabezera{
	background: -webkit-linear-gradient(top,#1c9596, #1c9fff);
	border-bottom: 3px solid #c6c7cc;
	padding-bottom:5px; 
	padding-top: 5px;
}

.friend, .self{
	display: flex;
	flex-direction: row;
}

.friend {
	justify-content: flex-start;
}

.self {
	justify-content: flex-end;
}

.mensaje{
	border-radius: 10px 10px 10px 10px;
	background: #FFFFFF;
	padding: 10px;
	margin: 10px;
	max-width: 70%;
	display: block;
	height: 100%;
}

.infoPer{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

p.text {
    width: 100%; 
    word-wrap: break-word;
}

#fajada,#mafiachumi{
	display: none;
}

.esconder{
	display: flex;
}

.regresar{
	display: none;
	margin: 50px;
}

.invisible{
	display: flex;
	flex-direction: column;
}

.visible{
	display: flex;
	flex-direction: column;
}



@media (max-width: 800px){
	.regresar{
		display: flex;
		margin: 50px;
		font-family: opcionUno;
	}

	#personas{
		width: 100%;
		padding: 30px;
		background: #e2e4e6;
		position: relative;
	}

	.invisible{
		display: none;
	}

	.visible{
		display: flex;
		flex-direction: column;
	}

	.regresar:hover{
		color: #0084D1;
		cursor: pointer;
	}

	#cabezeraMensaje{
		margin-top: 10px;
		width: 90%;
	}

	#areaMensajes{
		width: 90%;
	}

	#envio{
		width: 90%;
	}

	#conversacion{
		margin-left: 0%;
	}

}