/*Home Page*/
@import "fonts.css";
@import "barra.css";

*{
	margin: 0px;
	padding: 0px;
}

html,body{
	background-color: #e2e4e6;
}

.informacionUsuario{
	border: 5px solid #0080FB;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	background-color: white;
	z-index: 10;
    border-radius: 12px;
    height: 425px;
    left: 50%;
    opacity:0;
    position: fixed;
    top: 55%;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in;
    visibility: hidden;
    width: 650px;
}

.informacionRuta{
	border: 5px solid #0080FB;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
	background-color: white;
	z-index: 10;
    border-radius: 12px;
    height: 475px;
    left: 50%;
    opacity:0;
    position: fixed;
    top: 55%;
    transform: translate(-50%, -50%);
    transition: all 400ms ease-in;
    visibility: hidden;
    width: 650px;
}


.informacionUsuario-perfil{
	display: flex;
    flex-direction:column;
    background-color: white;
    align-items:center;
    z-index: 100;
    position: relative;
    border-bottom: #e2e4e6 solid 3px;
    margin: 5px 0px;
}

#infoAventon,#infoRuta{
	display: flex;
	flex-direction:column;
	align-items: center;
}

#mapaInfoAventon{
	width: 100%;
	height: 85%;
}

#mapaInfoRuta{
	width: 100%;
	height: 80%;
}

.infoRuta-Contenido{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 100%;
	height: 100%;
}

.infoRuta-datos{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}

#informacionUsuario-nombres{
	font-size: 24px;
	font-family: opcionUno;
	padding-bottom: 10px;
}

#informacionUsuario-foto{
	border-radius: 30px;
	margin: 2px 2px;
	width: 60px;
	height: 60px;
	border: #0080FB solid 3px;
}

.informacionUsuario-estadistica{
	display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 100;
    position: relative;
    height: 65%;
    width: 100%;
    margin: 5px 0px;
}

.infoUsuario-Histograma{
	width : 90%;
    height : 250px;
    font-size : 18px;
}

#informacionUsuario-vacio{
	display: none;
}

.estadistica-histograma{
	display: flex;
	flex-direction:column;
	align-items:center;
	width: 100%;
	height: 100%;
}

.estadistica-rutas{
	display: flex;
	flex-direction:column;
	align-items:center;
	width: 100%;
	height: 100%;
}

.estadistica-resultado{
	color: black;
	font-family: opcionUno;
	font-size: 19px;
}

#informacionUsuario-nickname,.histograma-titulo,.perfil-titulo,.rutas-titulo,.infoRuta-titulo,.infoAventon-titulo{
	color: #0080FB;
	font-family: opcionUno;
	font-size: 26px;
	padding: 5px 5px;
}

.rutas-titulo{
	color: #0080FB;
	font-family: opcionUno;
	font-size: 20px;
	padding: 5px 5px;
}


#errorRuta-Ok{
	cursor: pointer;
}

.errorRuta-Titulo{
	font-family: opcionUno;
	font-size: 20px;
}

.errorRuta-icon{
	font-size: 20px;
	margin: 0px 5px;
}

.errorRuta-leyenda{
	display: flex;
	flex-direction: row;
    justify-content: center;
}

.errorRuta-Boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.errorRuta{
	display: flex;
	flex-direction : column;
	background-color: #0080FB;
	border-radius: 6px;
	color: white;
	align-items: center;
	justify-content:center;
	height: 60px;
	width: 290px;
	position: fixed;
	top:35%;
	left:40%;
	right:40%;
    z-index: 150;
    border: 3px solid white;
    padding: 10px;
}

#contenedor_rutas{
	width: 100%;
	transition: all 0.5s ease;
}

.VisualizadorRuta{
	display: flex;
	flex-direction:column;
	align-items:center;
	margin: 15px 0px;
	height: 100%;
	width: 100%;
}

.VisualizadorRuta-menu{
	width: 50%;
	display: flex;
	align-items:center;
	height: 50px;
	background: #0080FB;
}

.VisualizadorRuta-opcion{
	display: flex;
	width: 100%; 
	padding-left:10px;
	padding-right:10px; 
}

.VisualizadorRuta-info{
	color:white;
	font-family: opcionUno;
	font-size: 20px;
	height: 100%;
	padding: 5px 5px;
}

.VisualizadorRuta-mapa{
	height: 250px;
	width: 50%;
	background-color:white;
}

.u-menu_superior{
	border-radius: 10px 10px 0px 0px;
}

.u-menu_inferior{
	border-radius: 0px 0px 10px 10px;
}

.u-flex_center{
	justify-content:center;
}

.u-flex_end{
	justify-content:flex-end;
}

.u-flex_start{
	justify-content:flex-start;
}

.u-cursor_pointer{
	cursor: pointer;
}

.info-horario{
	color: white;
	font-size: 16px;
	width: 100%; 
	font-family: opcionUno;
	margin: 0px 25px;
}

.nickname{
	padding: 0px 5px 0px 5px;
	border-radius: 30px;
	height:30px;
	width:30px;
}
#loader-icon {position: fixed;top: 50%;width:100%;height:100%;text-align:center}

@media screen and (max-width: 800px){


	.VisualizadorRuta-mapa{
		height: 250px;
		width: 95%;
		background-color:white;
	}

	.VisualizadorRuta-info{
		font-size: 18px;
		height: 100%;
		padding: 5px 5px;
	}

	.VisualizadorRuta-menu{
		width: 95%;
		height: 50px;
	}

	.info-horario{
		color: white;
		font-size: 10px;
		display: flex;
		width: 100%; 
	}
	.informacionUsuario{
		height: 65%;
		width: 80%;
	}
	.informacionUsuario-estadistica {
		height: 55%;
	}
	.estadistica-rutas {
		align-items: inherit;
	}
	#informacionUsuario-nickname, .histograma-titulo, .perfil-titulo, .rutas-titulo {
		font-size: 16px;
	}
}
#loader-icon {position: fixed;top: 50%;width:100%;height:100%;text-align:center}