@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7tkqcv');
	src:url('fonts/icomoon.eot?#iefix7tkqcv') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7tkqcv') format('truetype'),
		url('fonts/icomoon.woff?7tkqcv') format('woff'),
		url('fonts/icomoon.svg?7tkqcv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-eyedropper:before {
	content: "\e90a";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-image:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-camera:before {
	content: "\e90f";
}
.icon-headphones:before {
	content: "\e910";
}
.icon-music:before {
	content: "\e911";
}
.icon-play:before {
	content: "\e912";
}
.icon-film:before {
	content: "\e913";
}
.icon-video-camera:before {
	content: "\e914";
}
.icon-dice:before {
	content: "\e915";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-spades:before {
	content: "\e917";
}
.icon-bullhorn:before {
	content: "\e91a";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-lifebuoy:before {
	content: "\e941";
}
.icon-phone:before {
	content: "\e942";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-location:before {
	content: "\e947";
}
.icon-location2:before {
	content: "\e948";
}
.icon-compass:before {
	content: "\e949";
}
.icon-compass2:before {
	content: "\e94a";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-bell:before {
	content: "\e951";
}
.icon-stopwatch:before {
	content: "\e952";
}
.icon-keyboard:before {
	content: "\e955";
}
.icon-display:before {
	content: "\e956";
}
.icon-laptop:before {
	content: "\e957";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-tablet:before {
	content: "\e95a";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive:before {
	content: "\e963";
}
.icon-database:before {
	content: "\e964";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward:before {
	content: "\e969";
}
.icon-bubble:before {
	content: "\e96b";
}
.icon-bubbles:before {
	content: "\e96c";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-bubble2:before {
	content: "\e96e";
}
.icon-bubbles3:before {
	content: "\e96f";
}
.icon-bubbles4:before {
	content: "\e970";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-binoculars:before {
	content: "\e985";
}
.icon-search:before {
	content: "\e986";
}
.icon-zoom-in:before {
	content: "\e987";
}
.icon-zoom-out:before {
	content: "\e988";
}
.icon-enlarge:before {
	content: "\e989";
}
.icon-shrink:before {
	content: "\e98a";
}
.icon-enlarge2:before {
	content: "\e98b";
}
.icon-shrink2:before {
	content: "\e98c";
}
.icon-key:before {
	content: "\e98d";
}
.icon-key2:before {
	content: "\e98e";
}
.icon-lock:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-wrench:before {
	content: "\e991";
}
.icon-equalizer:before {
	content: "\e992";
}
.icon-equalizer2:before {
	content: "\e993";
}
.icon-cog:before {
	content: "\e994";
}
.icon-bug:before {
	content: "\e999";
}
.icon-pie-chart:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-trophy:before {
	content: "\e99e";
}
.icon-gift:before {
	content: "\e99f";
}
.icon-mug:before {
	content: "\e9a2";
}
.icon-spoon-knife:before {
	content: "\e9a3";
}
.icon-leaf:before {
	content: "\e9a4";
}
.icon-rocket:before {
	content: "\e9a5";
}
.icon-meter:before {
	content: "\e9a6";
}
.icon-meter2:before {
	content: "\e9a7";
}
.icon-hammer2:before {
	content: "\e9a8";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-airplane:before {
	content: "\e9af";
}
.icon-truck:before {
	content: "\e9b0";
}
.icon-road:before {
	content: "\e9b1";
}
.icon-accessibility:before {
	content: "\e9b2";
}
.icon-target:before {
	content: "\e9b3";
}
.icon-shield:before {
	content: "\e9b4";
}
.icon-power:before {
	content: "\e9b5";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-power-cord:before {
	content: "\e9b7";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-list-numbered:before {
	content: "\e9b9";
}
.icon-list:before {
	content: "\e9ba";
}
.icon-list2:before {
	content: "\e9bb";
}
.icon-tree:before {
	content: "\e9bc";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-menu2:before {
	content: "\e9be";
}
.icon-menu3:before {
	content: "\e9bf";
}
.icon-cloud:before {
	content: "\e9c1";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-link:before {
	content: "\e9cb";
}
.icon-sun:before {
	content: "\e9d4";
}
.icon-contrast:before {
	content: "\e9d5";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-man:before {
	content: "\e9dc";
}
.icon-woman:before {
	content: "\e9dd";
}
.icon-man-woman:before {
	content: "\e9de";
}
.icon-happy:before {
	content: "\e9df";
}
.icon-happy2:before {
	content: "\e9e0";
}
.icon-smile:before {
	content: "\e9e1";
}
.icon-smile2:before {
	content: "\e9e2";
}
.icon-tongue:before {
	content: "\e9e3";
}
.icon-tongue2:before {
	content: "\e9e4";
}
.icon-sad:before {
	content: "\e9e5";
}
.icon-sad2:before {
	content: "\e9e6";
}
.icon-wink:before {
	content: "\e9e7";
}
.icon-wink2:before {
	content: "\e9e8";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-grin2:before {
	content: "\e9ea";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-cool2:before {
	content: "\e9ec";
}
.icon-angry:before {
	content: "\e9ed";
}
.icon-angry2:before {
	content: "\e9ee";
}
.icon-evil:before {
	content: "\e9ef";
}
.icon-evil2:before {
	content: "\e9f0";
}
.icon-shocked:before {
	content: "\e9f1";
}
.icon-shocked2:before {
	content: "\e9f2";
}
.icon-baffled:before {
	content: "\e9f3";
}
.icon-baffled2:before {
	content: "\e9f4";
}
.icon-confused:before {
	content: "\e9f5";
}
.icon-confused2:before {
	content: "\e9f6";
}
.icon-neutral:before {
	content: "\e9f7";
}
.icon-neutral2:before {
	content: "\e9f8";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-hipster2:before {
	content: "\e9fa";
}
.icon-wondering:before {
	content: "\e9fb";
}
.icon-wondering2:before {
	content: "\e9fc";
}
.icon-sleepy:before {
	content: "\e9fd";
}
.icon-sleepy2:before {
	content: "\e9fe";
}
.icon-frustrated:before {
	content: "\e9ff";
}
.icon-frustrated2:before {
	content: "\ea00";
}
.icon-crying:before {
	content: "\ea01";
}
.icon-crying2:before {
	content: "\ea02";
}
.icon-point-up:before {
	content: "\ea03";
}
.icon-point-right:before {
	content: "\ea04";
}
.icon-point-down:before {
	content: "\ea05";
}
.icon-point-left:before {
	content: "\ea06";
}
.icon-warning:before {
	content: "\ea07";
}
.icon-notification:before {
	content: "\ea08";
}
.icon-question:before {
	content: "\ea09";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-blocked:before {
	content: "\ea0e";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
.icon-spell-check:before {
	content: "\ea12";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-volume-high:before {
	content: "\ea26";
}
.icon-volume-medium:before {
	content: "\ea27";
}
.icon-volume-low:before {
	content: "\ea28";
}
.icon-infinite:before {
	content: "\ea2f";
}
.icon-arrow-left:before {
	content: "\ea38";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-terminal:before {
	content: "\ea81";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-mail:before {
	content: "\ea83";
}
.icon-mail2:before {
	content: "\ea84";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-google:before {
	content: "\ea87";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-feed4:before {
	content: "\ea96";
}
.icon-youtube:before {
	content: "\ea97";
}
.icon-flickr4:before {
	content: "\eaa3";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-github3:before {
	content: "\eab3";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-github5:before {
	content: "\eab5";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-android:before {
	content: "\eac1";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-heart2:before {
	content: "\e600";
}
.icon-cloud2:before {
	content: "\e601";
}
.icon-tv:before {
	content: "\e602";
}
.icon-sound:before {
	content: "\e603";
}
.icon-video:before {
	content: "\e604";
}
.icon-trash:before {
	content: "\e605";
}
.icon-user2:before {
	content: "\e606";
}
.icon-key3:before {
	content: "\e607";
}
.icon-search2:before {
	content: "\e608";
}
.icon-settings:before {
	content: "\e609";
}
.icon-camera2:before {
	content: "\e60a";
}
.icon-lock2:before {
	content: "\e60b";
}
.icon-bulb:before {
	content: "\e60c";
}
.icon-pen:before {
	content: "\e60d";
}
.icon-diamond:before {
	content: "\e60e";
}
.icon-display2:before {
	content: "\e60f";
}
.icon-location3:before {
	content: "\e610";
}
.icon-news:before {
	content: "\e611";
}
.icon-mail3:before {
	content: "\e612";
}
.icon-like:before {
	content: "\e613";
}
.icon-photo:before {
	content: "\e614";
}
.icon-clock:before {
	content: "\e615";
}
.icon-paperplane:before {
	content: "\e616";
}
.icon-data:before {
	content: "\e617";
}
.icon-music2:before {
	content: "\e618";
}
.icon-megaphone:before {
	content: "\e619";
}
.icon-study:before {
	content: "\e61a";
}
.icon-lab:before {
	content: "\e61b";
}
.icon-food:before {
	content: "\e61c";
}
.icon-t-shirt:before {
	content: "\e61d";
}
.icon-fire:before {
	content: "\e61e";
}
.icon-clip:before {
	content: "\e61f";
}
.icon-calendar:before {
	content: "\e620";
}
.icon-vynil:before {
	content: "\e621";
}
.icon-truck2:before {
	content: "\e622";
}
.icon-world:before {
	content: "\e623";
}
