{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet"  href="css/chat.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/noticias.css">
	<link rel="stylesheet" type="text/css" href="css/buscar_persona.css">
	<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="js/chat.js"></script>
	<script src = "js/barra.js"> </script>
	<script src = "js/buscar_persona.js"> </script>
	<script src = "js/menuNotificaciones.js"> </script>
	<script src="../socket.io/socket.io.js"></script>
	<script>
		//datos del usuario enviado por el server
  		var userId = {{id}};
  		var userNick = "{{nickname}}";
  		var userFoto = "{{foto}}"
  		var idReceptor={{idReceptor}};
	</script>
{% endblock %}

{% block content %}
	{% include './barra.html' %}
	{% include './menu_salir.html' %}
	{% include './buscar_persona.html' %}

	<div id = "Contenedor_Menu_Notificaciones">
		<div id="Menu_Notificaciones">
    	</div>
    	<div id="Notificaciones_Ver_todas">
    		<a class="Notificacion-Mas" id="mas" href="/notificaciones">Ver todas</a>
    	</div>
	</div>

	<section id="contenido">
			<div id="personas" class=" visible" >
				<div id="nuevaConversacion" onclick="buscarPersona();"> Buscar Persona</div>
				
			</div>

			<div id="conversacion">

				<div class="regresar" >Mostar Conversaciones</div>

				<div id="cabezeraMensaje">
					
				</div>
				<div id="areaMensajes">

				</div>

				<div id="envio" >
					<input type="text" id="txtMensaje" placeholder="escriba su mensaje..."/> 
					<input id="btnEnviar" type="submit" value="Enviar"/>
				</div>
			</div>

			</div>	
	</section>
{% endblock%}