<div id="cuadroPublicador" class="CuadroPublicador">
		<div class = "CuadroPublicador-contenedor">
			<div class = "CuadroPublicador-cabezera">
				<img class = "CuadroPublicador-foto" src = "imagenes/imagenPerfil.jpg"/>&nbsp;&nbsp;
				<h3 id = "nickname" >oswaldito</h3>
			</div>
			<hr>
			<form class="CuadroPublicador-formulario">
				<label>Publicar </label>
				<span >
					<button class="CuadroPublicador-Boton" type="button" id = "btnRuta">Crear ruta</button>
					<button class ="CuadroPublicador-Boton" type="button" id = "btnAventon" >Pedir Avent&oacute;n</button>
				</span>
			</form>
		</div>
</div>

<div id="contenedor_rutas">
</div>
<div id = "Pantalla_Ruta">	
	<div id = "Contenido_Ruta" class="IngresoRuta">
		<input id = "btnClose" value = "X" type = "button" class = "IngresoRuta-cerrar"/>
		<div id="googleMap" class="IngresoRuta-Mapa">
		</div>
			<div class="IngresoRuta-Titulo">
			<span >Ingrese una sucesi&oacute;n de puntos para marcar el camino</span>
		</div>
		<div class="IngresoRuta-datos flex_between_around ">
			<div class="tabla">
				<div class="tabla_item columna_flexible flex_end">
					<label class="etiqueta">Fecha: </label>
					<label class="etiqueta">Hora: </label>
				</div>
				<div class="tabla_item columna_flexible ">
					<form id = "formRuta" name="formRuta" class="IngresoRuta-formulario" >
						<input class="entradaDatos" id = "Fecha" type ="date" />
						<input class="entradaDatos" id = "Hora" type ="time" />	
					</form>
				</div>
			</div>
			<div class="tabla">
				<div class="tabla_item columna_flexible flex_end">
					<label class="etiqueta">Capacidad: </label>
					<label class="etiqueta">Costo: $</label>
				</div>
				<div class="tabla_item columna_flexible ">
					<input id="RutaCapacidad" form= "formRuta" class="entradaDatos" type ="number" 
						min = "1" max = "20" value ="1"/>
					<input  id="RutaCosto" form="formRuta" class="entradaDatos" type ="number" 
					min = "0.00" value = "0.00" step="0.01" max="2.00"/>	
				</div>
			</div>
		</div>
		<div class="IngresoRuta-botones">
			<input class="IngresoRuta-Boton" form="formRuta" id ="btnAceptarRuta" type="button" value="Aceptar"/>
			<input class="IngresoRuta-Boton" form="formRuta" id="btnCancelarRuta" type = "button" value="Cancelar"/>
		</div>
	</div>
</div>

<div id = "Pantalla_Aventon">	
	<div id = "Contenido_Aventon" class="IngresoAventon">
		<input id="btnCloseAventon" class = "IngresoAventon-cerrar" value = "X" type = "button"/>
		<div id="googleMap2" class="IngresoAventon-Mapa"></div>
		<div class = "IngresoAventon-Titulo">
			<span> Ingrese un punto en el mapa que ser&aacute; su paradero</span>
		</div>
		<div class="IngresoAventon-datos ">
			<div class="tabla_item columna_flexible" >
				<label class="etiqueta">Fecha: </label>
				<label class="etiqueta">Hora: </label>
			</div>
			<div class="tabla_item columna_flexible" >
				<form id = "formAventon" class="IngresoAventon-formulario">
					<input class="entradaDatos" id = "Fecha_Aventon" type ="date" />
					<input class="entradaDatos" id = "Hora_Aventon" type ="time" />
				</form>
			</div>
		</div>
		<div class="IngresoAventon-botones flex_center">
			<button class="IngresoAventon-Boton" form="formAventon" id = "btnAceptarAventon" type="button">Aceptar</button>
			<button class="IngresoAventon-Boton" form="formAventon" id="btnCancelarAventon" type = "button">Cancelar</button>
		</div>
	</div>
</div>

<div id="OpcionAgregar" class="AgregarARuta">
	<div class="AgregarARuta-contenedor">
		<input id = "btnCloseAgregar" value = "X" type = "button" class = "IngresoRuta-cerrar"/>
		<div id="MapaAgregar" class="AgregarARuta-Mapa">
		</div>
		<div class="AgregarARuta-Titulo">
			<span >Ingrese la ubicacion en donde solicita ser recogido</span>
		</div>
		<div class="AgregarARuta-botones">
			<input class="AgregarARuta-Boton" id ="btnAceptarAgregar" type="button" value="Aceptar"/>
			<input class="AgregarARuta-Boton" id="btnCancelarAgregar" type = "button" value="Cancelar"/>
		</div>
	</div>
</div>	