{% extends 'layout.html' %}

{% block head %}
	<link rel="shortcut icon" type="image/png" href="imagenes/LogoPoolEspol.png">
	<link rel="stylesheet" type="text/css" href="css/noticias.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/estiloMapa.css">
	<link rel = "stylesheet" type="text/css" href = "css/cuadroPublicador.css"/>
	<link rel = "stylesheet" type="text/css" href = "css/pasajeros.css"/>
	<script src = "js/jquery-1.11.3.min.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  	<script src="http://www.amcharts.com/lib/3/serial.js"></script>
  	<script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=geometry"></script>
	<script src="../socket.io/socket.io.js"></script>
	<script src = "js/poolEspol.js"> </script>
	<script src = "js/barra.js"> </script>
	<script src = "js/visualizador.js"> </script>
	<script src = "js/noticias.js"> </script>
	<script src = "js/estadisticas.js"></script>
	<script src = "js/solicitud.js"> </script>
	<script src = "js/pasajeros.js"> </script>
	<script src = "js/publicador.js"> </script>
	<script src = "js/menuNotificaciones.js"> </script>
	<script>
		//datos del usuario enviado por el server
  		var userid = "{{id}}";
  		var userNick = "{{nickname}}";
  		var userFoto = "{{foto}}";
  		var flag = "{{flag}}";	
	</script>
{% endblock %}

{% block title %}
	{{title}}
{% endblock %}

{% block content %}
	{% include './barra.html' %}
	{% include './menu_salir.html' %}
	
	<div id = "Contenedor_Menu_Notificaciones">
		<div id="Menu_Notificaciones">
    	</div>
    	<div id="Notificaciones_Ver_todas">
    		<a class="Notificacion-Mas" id="mas" href="/notificaciones">Ver todas</a>
    	</div>
	</div>
		
	{% include './cuadro_publicador.html' %}
	{% include './pasajeros.html' %}
	
	<div id="contenedor_rutas">
	</div>

	<div id="infoAventon" class="informacionUsuario">
		<input id="infoAventonClose" class = "IngresoAventon-cerrar" value = "X" type = "button" onclick="cerrarInfoAventon();" />
		<h1 class="infoAventon-titulo">Informaci&oacute;n del Aventon</h1>
		<div id="mapaInfoAventon">
			
		</div>
		<span id="infoAventon-distancia" class= "rutas-titulo"></span>
	</div>

	<div id="infoRuta" class="informacionRuta">
		<input id="infoRutaClose" class = "IngresoRuta-cerrar" value = "X" type = "button" onclick="cerrarInfoRuta();" />
		<h1 class="infoRuta-titulo">Informaci&oacute;n de la Ruta</h1>
		<div class="infoRuta-Contenido">
			<div id="mapaInfoRuta">
			</div>
			<div class="infoRuta-datos" >
				<span id="infoRuta-distancia"></span>
				<span id="infoRuta-duracion"></span>
			</div>
		</div>
	</div>

	<div id="infoUsuario" class="informacionUsuario">
		<input id="infoUsuarioClose" class = "IngresoAventon-cerrar" value = "X" type = "button" onclick="cerrarEstadisticas();" />
		<div class = "informacionUsuario-perfil">
			<label id = "informacionUsuario-nickname"></label>
			<img id= "informacionUsuario-foto">
			<label id = "informacionUsuario-nombres"></label>
		</div>	
		<span id="informacionUsuario-vacio"> No tiene informaci&oacute;n adicional</span>
		<div class="informacionUsuario-estadistica">
			<div class="estadistica-histograma">
				<h1 class="histograma-titulo">Pasajeros mas llevados</h1>
				<div id = "histograma" class="infoUsuario-Histograma">
				</div>
			</div>
			<div class="estadistica-rutas">
				<h1 class="histograma-titulo">Informaci&oacute;n de Rutas</h1>
				<span id="estadisticaTotal" class= "rutas-titulo"></span>
				<span id="estadisticaRutas" class= "rutas-titulo"></span>
				<span id="estadisticaProbabilidad" class= "rutas-titulo"></span>
				<span id="estadisticaProbabilidadDos" class= "rutas-titulo"></span>
			</div>
		</div>
	</div>
	<div id="loader-icon"><img src="imagenes/loader.svg" /><div>
{% endblock %}